@model M50.Models.TollVehicle

@{
    ViewBag.Title = "Calculate Toll Cost";
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>TollVehicle</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.VehicleType, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.VehicleType, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.VehicleType, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HasETag, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.HasETag)
                    @Html.ValidationMessageFor(model => model.HasETag, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Calculate Toll" class="btn btn-default" />
            </div>
            <div>
                <h3>Toll Charge: €@ViewBag.TollCost</h3>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Calculate another toll", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
